Repository Catrobat/Catroweb, pull requests merged in 2020-02, with the labels that each got.

#435 SHARE-159 Show number of rejected programs/comments per user
  config/packages/sonata_admin.yaml
  config/services.yaml
  deploy.php
  src/Admin/ReportedCommentsAdmin.php
  src/Admin/ReportedUsersAdmin.php
  src/Catrobat/Controller/Admin/StoredUserDataController.php
  src/Catrobat/Controller/Web/CommentsController.php
  src/Catrobat/Controller/Web/ProfileController.php
  src/Catrobat/Controller/Web/ProgramController.php
  src/Catrobat/Controller/Web/UserNotificationController.php
  src/Entity/Program.php
  src/Entity/ProgramInappropriateReport.php
  src/Entity/User.php
  src/Entity/UserComment.php
  src/Migrations/2020/Version20200213214540.php
  templates/Notifications/NotificationTypes/comment_notification.html.twig
  templates/Program/programComments.html.twig
  tests/behat/features/admin/reported_users.feature
  tests/behat/features/bootstrap/AdminFeatureContext.php
  tests/behat/features/bootstrap/WebFeatureContext.php
  tests/behat/features/web/profile_image.feature
  tests/behat/features/web/project_image.feature
Labels: admin, feature, web

#438 SHARE-137 Translation deprecation
  src/Catrobat/Services/Formatter/ElapsedTimeStringFormatter.php
  tests/PhpSpec/spec/App/Catrobat/Services/Formatter/ElapsedTimeStringFormatterSpec.php
  tests/phpUnit/TranschoiceTest.php
Labels: deprecation

#429 SHARE-119 Remix Notifications
  assets/js/custom/Notifications.js
  src/Catrobat/Controller/Web/UserNotificationController.php
  src/Catrobat/Listeners/RemixUpdater.php
  src/Catrobat/Services/CatrobatFileSanitizer.php
  src/Catrobat/Services/ExtractedCatrobatFile.php
  src/Catrobat/Services/RemixData.php
  src/Catrobat/Services/TestEnv/SymfonySupport.php
  src/Entity/CatroNotification.php
  src/Entity/RemixManager.php
  src/Entity/RemixNotification.php
  src/Migrations/2020/Version20200214075253.php
  templates/Notifications/NotificationTypes/remix_notification.html.twig
  tests/PhpSpec/spec/App/Catrobat/Listeners/RemixUpdaterSpec.php
  tests/PhpSpec/spec/App/Catrobat/Services/ExtractedCatrobatFileSpec.php
  tests/PhpSpec/spec/App/Entity/RemixManagerSpec.php
  tests/behat/features/api/upload_remix_uuid.feature
  tests/behat/features/api/upload_remixed_program_again.feature
  tests/behat/features/bootstrap/WebFeatureContext.php
  tests/behat/features/web/notifications_type_remix.feature
  tests/behat/features/web/project_statistics.feature
  translations/catroweb.en.yml
Labels: bug, feature, web

#439 Update contributing.md
  .github/contributing.md
Labels: office

#442 SHARE-208 New Program notifications under follower category
  src/Catrobat/Controller/Web/UserNotificationController.php
  tests/behat/features/bootstrap/WebFeatureContext.php
  tests/behat/features/web/notifications.feature
  tests/behat/features/web/notifications_sidebar_badge.feature
Labels: feature, web

#441 SHARE-207 Remix Notifications Category
  assets/css/base/_navbar.scss
  src/Catrobat/Controller/Web/UserNotificationController.php
  templates/Default/sidebar.html.twig
  tests/behat/features/bootstrap/WebFeatureContext.php
  tests/behat/features/web/notifications.feature
  tests/behat/features/web/notifications_sidebar_badge.feature
  tests/behat/features/web/notifications_sidebar_dropdown.feature
  translations/catroweb.en.yml
Labels: feature, web

#365 SHARE-107 Scratch remix category
  assets/js/base/ProjectLoader.js
  src/Catrobat/Controller/Api/ListProgramsController.php
  src/Catrobat/Controller/Web/DefaultController.php
  src/Entity/ProgramManager.php
  src/Repository/ProgramRepository.php
  templates/Default/sidebar.html.twig
  templates/Index/index.html.twig
  tests/behat/features/api/get_scratch_remix_programs.feature
  tests/behat/features/bootstrap/ApiFeatureContext.php
  tests/behat/features/bootstrap/WebFeatureContext.php
  tests/behat/features/web/homepage.feature
  translations/catroweb.en.yml
Labels: WIP, feature, web

#443 SHARE-211 Github Actions - test workflows V1
  .env
  .env.dev
  .env.test
  .github/workflows/tests_behat.yml
  .github/workflows/tests_phpspec.yml
  .github/workflows/tests_phpunit.yml
  .gitignore
  README.md
  config/bootstrap.php
  config/services_test.yaml
  docker/Dockerfile
  docker/README.md
  docker/app/execute-tests.sh
  docker/app/keep-container-alive.sh
  docker/app/prepare-test-env.sh
  docker/app/set-test-permissions.sh
  docker/app/startup-test.sh
  docker/app/test-permissions.sh
  docker/docker-compose.test.yml
  public/index_test.php
  src/Catrobat/Commands/GenerateTestDataCommand.php
  src/Catrobat/Commands/MigrateRemixGraphsCommand.php
  src/Catrobat/Commands/ResetCommand.php
  src/Catrobat/Services/AsyncHttpClient.php
  src/Entity/Program.php
  tests/PhpSpec/spec/App/Catrobat/Services/AsyncHttpClientSpec.php
  tests/behat/features/api/get_featured_programs.feature
  tests/behat/features/api/get_media_lib_json_edge_cases.feature
  tests/behat/features/api/get_most_downloaded_programs.feature
  tests/behat/features/api/get_most_viewed_programs.feature
  tests/behat/features/api/get_recent_programs.feature
  tests/behat/features/api/get_user_programs.feature
  tests/behat/features/api/list_programs_debug_build.feature
  tests/behat/features/api/program_details.feature
  tests/behat/features/api/search.feature
  tests/behat/features/api/search_programs.feature
  tests/behat/features/api/upload_program.feature
  tests/behat/features/bootstrap/ApiFeatureContext.php
  tests/behat/features/bootstrap/WebFeatureContext.php
  tests/phpUnit/Admin/CleanupTest.php
Labels: feature, github action

#447 SHARE-212 No new token on upload
  src/Catrobat/Controller/Api/UploadController.php
  src/Catrobat/Security/ApiTokenAuthenticator.php
  src/Catrobat/Security/WebviewAuthenticator.php
  tests/behat/features/api/upload.feature
  tests/behat/features/api/upload_program.feature
Labels: api, bug, web
