Repository Catrobat/Catroweb, pull requests merged in 2020-03, with the labels that each got.

#450 SHARE-182 Deleting a user should also delete associated notifications
  .env.test
  src/Admin/ReportedCommentsAdmin.php
  src/Catrobat/Controller/Web/CommentsController.php
  src/Catrobat/Controller/Web/ProfileController.php
  src/Catrobat/Controller/Web/ProgramController.php
  src/Catrobat/Controller/Web/UserNotificationController.php
  src/Entity/CatroNotification.php
  src/Entity/CommentNotification.php
  src/Entity/FollowNotification.php
  src/Entity/LikeNotification.php
  src/Entity/NewProgramNotification.php
  src/Entity/Program.php
  src/Entity/RemixNotification.php
  src/Entity/User.php
  src/Entity/UserComment.php
  src/Migrations/2020/Version20200226130914.php
  src/Repository/UserCommentRepository.php
  templates/Admin/CRUD/list__action_show_user_data.html.twig
  templates/Notifications/NotificationTypes/comment_notification.html.twig
  templates/Program/programComments.html.twig
  tests/behat/features/bootstrap/WebFeatureContext.php
  tests/behat/features/web/notifications.feature
  tests/behat/features/web/profile_edit.feature
  tests/behat/features/web/project_comments.feature
Labels: bug

#457 SHARE-166 Followers and other whom I follow not all shown
  tests/behat/features/bootstrap/WebFeatureContext.php
  tests/behat/features/web/profile/many_follower.feature
Labels: bug, web

#461 SHARE-147 Time should always be the same
  config/services.yaml
  config/services_test.yaml
  src/Admin/GameJamAdmin.php
  src/Catrobat/Commands/CleanOldApkCommand.php
  src/Catrobat/Commands/Helpers/CronjobProgressWriter.php
  src/Catrobat/Commands/MigrateRemixGraphsCommand.php
  src/Catrobat/Commands/RecommenderUserSimilaritiesCommand.php
  src/Catrobat/Controller/Admin/ApkController.php
  src/Catrobat/Controller/Api/GameSubmissionController.php
  src/Catrobat/Controller/Ci/BuildApkController.php
  src/Catrobat/Listeners/Upload/SaveProgramSnapshotListener.php
  src/Catrobat/Services/CatrobatFileExtractor.php
  src/Catrobat/Services/Formatter/ElapsedTimeStringFormatter.php
  src/Catrobat/Services/StatisticsService.php
  src/Catrobat/Services/TestEnv/ProxyTime.php
  src/Catrobat/Services/TestEnv/SymfonySupport.php
  src/Catrobat/Services/Time.php
  src/Entity/Program.php
  src/Entity/ProgramInappropriateReport.php
  src/Entity/ProgramLike.php
  src/Entity/ProgramManager.php
  src/Entity/ProgramRemixBackwardRelation.php
  src/Entity/ProgramRemixRelation.php
  src/Entity/RemixManager.php
  src/Entity/ScratchProgram.php
  src/Entity/UserLikeSimilarityRelation.php
  src/Entity/UserRemixSimilarityRelation.php
  src/Entity/UserTestGroup.php
  src/Repository/GameJamRepository.php
  src/Repository/UserRemixSimilarityRelationRepository.php
  src/Utils/TimeUtils.php
  tests/PhpSpec/spec/App/Catrobat/Listeners/Upload/SaveProgramSnapshotListenerSpec.php
  tests/PhpSpec/spec/App/Catrobat/Services/Formatter/ElapsedTimeStringFormatterSpec.php
  tests/behat/features/bootstrap/ApiFeatureContext.php
  tests/behat/features/bootstrap/GamejamFeatureContext.php
  tests/behat/features/bootstrap/WebFeatureContext.php
  tests/phpUnit/Utils/TimeUtilsTest.php
Labels: bug, enhancement

#470 SHARE-215 reset command enhancement
  src/Catrobat/Commands/CreateCommentCommand.php
  src/Catrobat/Commands/CreateDownloadsCommand.php
  src/Catrobat/Commands/CreateFollowersCommand.php
  src/Catrobat/Commands/CreateLikeCommand.php
  src/Catrobat/Commands/CreateRemixCommand.php
  src/Catrobat/Commands/Helpers/ResetController.php
  src/Catrobat/Commands/ResetCommand.php
Labels: enhancement

#469 SHARE-201 Api media package
  .github/workflows/tests_behat.yml
  behat.yml.dist
  src/Api/MediaLibraryApi.php
  tests/behat/features/api/mediapackage/mediapackage_packagename_get.feature
  tests/behat/features/bootstrap/MediaPackageContext.php
Labels: api

#474 SHARE-232 PHP 7.4
  .env
  .gitignore
  composer.json
  composer.lock
  config/bundles.php
  config/packages/cache.yaml
  config/packages/doctrine.yaml
  config/packages/prod/routing.yaml
  config/packages/test/framework.yaml
  config/packages/test/twig.yaml
  config/packages/test/validator.yaml
  config/packages/translation.yaml
  config/packages/validator.yaml
  config/routes/dev/framework.yaml
  config/services.yaml
  docker/Dockerfile
  docker/app/prepare-test-env.sh
  docker/app/set-permissions.sh
  package-lock.json
  src/Api/AuthenticationApi.php
  src/Api/MediaLibraryApi.php
  src/Api/ProjectsApi.php
  src/Api/UserApi.php
  src/Catrobat/Commands/ArchiveLogsCommand.php
  src/Catrobat/Commands/CheckCodeStyleCommand.php
  src/Catrobat/Commands/CreateBackupCommand.php
  src/Catrobat/Commands/Helpers/CommandHelper.php
  src/Catrobat/Commands/ImportLegacyCommand.php
  src/Catrobat/Commands/PurgeCommand.php
  src/Catrobat/Commands/ResetCommand.php
  src/Catrobat/Commands/RestoreBackupCommand.php
  src/Catrobat/Commands/WebShareProgramImport.php
  src/Catrobat/Controller/Admin/MaintainController.php
  src/Catrobat/Listeners/UploadNotificator.php
  src/Entity/AchievementNotification.php
  src/Entity/Notification.php
  symfony.lock
  templates/Notifications/NotificationTypes/achievement_notification.html.twig
  tests/behat/context/ApiContext.php
  tests/behat/context/CatrowebBrowserContext.php
  tests/behat/features/api/projects/logged_in_user_projects.feature
  translations/.gitignore
Labels: enhancement

#467 SHARE-189 API Register user
  .github/workflows/tests_behat.yml
  behat.yml.dist
  src/Api/UserApi.php
  tests/behat/context/DataFixturesContext.php
  tests/behat/features/api/user/user_register.feature
  translations/catroweb.de.yml
  translations/catroweb.en.yml
Labels: api

#476 SHARE-192 API Featured Projects
  package-lock.json
  package.json
  src/Api/ProjectsApi.php
  src/Catrobat/Commands/ImportLegacyCommand.php
  src/Catrobat/Services/FeaturedImageRepository.php
  src/Repository/FeaturedRepository.php
  src/Utils/APIQueryHelper.php
  tests/behat/features/api/deprecated/project/get_featured_programs.feature
  tests/behat/features/api/projects/featured_projects.feature
Labels: api

#477 SHARE-198 API Get user public projects
  config/packages/security.yaml
  src/Api/ProjectsApi.php
  src/Entity/ProgramManager.php
  src/Repository/ProgramRepository.php
  tests/behat/features/api/projects/public_user_projects.feature
  tests/phpUnit/Entity/ProgramManagerTest.php
Labels: api
