Repository Catrobat/Catroweb, pull requests merged in 2020-04, with the labels that each got.

#499 HOTFIX dev env must use http as default
  .env.dev
Labels: bug

#500 SHARE-234 GitHub Actions tests
  .env.test
  .github/workflows/tests.yml
  docker/Dockerfile
  docker/app/execute-tests.sh
  docker/app/keep-container-alive.sh
  docker/docker-compose.dev.yml
  docker/docker-compose.test.yml
Labels: bug, github action

#494 HOTFIX Upload with tags or extensions
  src/Entity/Extension.php
  src/Entity/Program.php
  src/Entity/Tag.php
Labels: bug

#452 SHARE-175 Improving the search engine
  composer.json
  composer.lock
  config/packages/doctrine.yaml
  src/Catrobat/Controller/Api/SearchController.php
  src/Entity/Extension.php
  src/Entity/Program.php
  src/Entity/Tag.php
  src/Entity/User.php
  src/Migrations/2020/Version20200405160721.php
  src/Repository/ProgramRepository.php
  symfony.lock
  tests/behat/context/ApiContext.php
  tests/behat/features/api/deprecated/general/search_programs.feature
  tests/behat/features/api/deprecated/general/search_tagged_programs.feature
  tests/behat/features/web/general/search.feature
  tests/behat/features/web/project/project_loader.feature
Labels: api, bug, web

#515 SHARE-234 GitHub Action undefined behat steps
  .github/workflows/feature_request.yml
  .github/workflows/tests.yml
  .gitignore
  bin/checkCatroidRepositoryForNewBricks
  docker/app/prepare-test-env.sh
  docker/docker-compose.test.yml
  phpunit.xml.dist
  src/Catrobat/Commands/ResetCommand.php
  src/Catrobat/Services/TestEnv/CheckCatroidRepositoryForNewBricks.php
  tests/behat/context/CatrowebBrowserContext.php
  tests/behat/context/RefreshEnvironmentContext.php
  tests/behat/features/web/project/check_for_new_bricks.feature
  tests/phpUnit/Catrobat/Listeners/FileStructureValidatorTest.php
  tests/phpUnit/Catrobat/Listeners/LicenseUpdaterTest.php
  tests/phpUnit/Catrobat/Listeners/OnlyDefinedImagesValidatorTest.php
  tests/phpUnit/Catrobat/Listeners/ProgramExtensionListenerTest.php
  tests/phpUnit/Catrobat/Listeners/ProgramXmlHeaderValidatorTest.php
  tests/phpUnit/Catrobat/Listeners/RemixUpdaterTest.php
  tests/phpUnit/Catrobat/Listeners/VersionValidatorTest.php
  tests/phpUnit/Catrobat/Services/CatrobatFileCompressorTest.php
  tests/phpUnit/Catrobat/Services/CatrobatFileExtractorTest.php
  tests/phpUnit/Catrobat/Services/ExtractedCatrobatFileTest.php
  tests/phpUnit/Catrobat/Services/ProgramDevicePermissionReaderTest.php
  tests/phpUnit/Catrobat/Services/ProgramFileRepositoryTest.php
  tests/phpUnit/Catrobat/Services/ScreenshotRepositoryTest.php
  tests/phpUnit/Hook/RefreshTestEnvHook.php
Labels: github action

#508 SHARE-148 Download object
  assets/js/custom/MediaLib.js
  config/services.yaml
  config/services_test.yaml
  public/resources/mediapackage/.gitignore
  src/Admin/MediaPackageFileAdmin.php
  src/Catrobat/Commands/CreateMediaPackageSamplesCommand.php
  src/Catrobat/Services/MediaPackageFileRepository.php
  src/Catrobat/Twig/AppExtension.php
  tests/behat/features/web/general/mediapackage.feature
  tests/behat/features/web/project/code_statistics.feature
  tests/testdata/DataFixtures/MediaPackage/8.catrobat
  tests/testdata/DataFixtures/MediaPackage/SampleMediaPackage/Objects/Miscellaneous/House.catrobat
  tests/testdata/DataFixtures/MediaPackage/SampleMediaPackage/Sounds/Machines/Plane.mpga
  tests/testdata/DataFixtures/MediaPackage/SampleMediaPackage/Sounds/Machines/Ufo.wav
Labels: feature, media

#496 SHARE-237 Download multiple media files
  .github/workflows/feature_request.yml
  assets/css/base/_navbar.scss
  assets/css/custom/medialib.scss
  assets/js/custom/MediaLib.js
  behat.yml.dist
  config/services_test.yaml
  docker/docker-compose.dev.yml
  docker/docker-compose.test.yml
  src/Catrobat/Commands/CreateMediaPackageSamplesCommand.php
  src/Catrobat/Commands/ResetCommand.php
  src/Catrobat/Services/MediaPackageFileRepository.php
  templates/Default/header.html.twig
  templates/MediaLibrary/mediapackageindex.html.twig
  tests/behat/context/ApiContext.php
  tests/behat/context/BrowserContext.php
  tests/behat/features/admin/login_ldap.feature
  tests/behat/features/admin/upload_notification.feature
  tests/behat/features/web/general/mediapackage.feature
  tests/behat/features/web/profile/follow.feature
  tests/behat/features/web/profile/notifications.feature
  tests/behat/features/web/profile/notifications_sidebar_badge.feature
  tests/behat/features/web/profile/notifications_type_remix.feature
  tests/behat/features/web/project/code_statistics.feature
  tests/testdata/DataFixtures/MediaPackage/SampleMediaPackage/Looks/Luna/Luna-Girl.jpeg
  tests/testdata/DataFixtures/MediaPackage/SampleMediaPackage/Looks/Luna/Luna-Girl.png
  tests/testdata/DataFixtures/MediaPackage/SampleMediaPackage/Looks/People/Boy.jpeg
  tests/testdata/DataFixtures/MediaPackage/SampleMediaPackage/Looks/People/Boy.png
  tests/testdata/DataFixtures/MediaPackage/SampleMediaPackage/Looks/People/Girl.jpeg
  tests/testdata/DataFixtures/MediaPackage/SampleMediaPackage/Looks/People/Girl.png
  tests/testdata/DataFixtures/MediaPackage/SampleMediaPackage/Looks/Pocket Family/Elephant.jpeg
  tests/testdata/DataFixtures/MediaPackage/SampleMediaPackage/Looks/Pocket Family/Elephant.png
  tests/testdata/DataFixtures/MediaPackage/SampleMediaPackage/Looks/Pocket Family/Panda.jpeg
  tests/testdata/DataFixtures/MediaPackage/SampleMediaPackage/Looks/Pocket Family/Panda.png
  tests/testdata/DataFixtures/MediaPackage/SampleMediaPackage/Looks/Pocket Family/Penguin.jpeg
  tests/testdata/DataFixtures/MediaPackage/SampleMediaPackage/Looks/Pocket Family/Penguin.png
  tests/testdata/UploadDownloadTemp/.gitignore
  translations/catroweb.en.yml
Labels: feature, media

#521 SHARE-260 Code Quality - Lint twig,yml, container
  .github/workflows/code_quality.yml
Labels: github action

#520 SHARE-289 Sidebar styling, especially notifications
  assets/css/base/_bootswatch.scss
  assets/css/base/_navbar.scss
  assets/css/base/_sidebar.scss
  assets/js/base/Sidebar.js
  assets/js/custom/FetchNotifications.js
  assets/js/custom/Notifications.js
  templates/Default/sidebar.html.twig
  tests/behat/features/web/project/project_reactions.feature
Labels: design

#516 SHARE-285 New Brick - UserBrick
  src/Catrobat/Services/CatrobatCodeParser/Bricks/BrickFactory.php
  src/Catrobat/Services/CatrobatCodeParser/Bricks/UserDefinedBrick.php
  src/Catrobat/Services/CatrobatCodeParser/CodeStatistic.php
  src/Catrobat/Services/CatrobatCodeParser/Constants.php
Labels: feature

#498 SHARE-277 Media Library search
  assets/css/custom/medialib.scss
  assets/js/custom/MediaLib.js
  composer.json
  composer.lock
  src/Api/MediaLibraryApi.php
  src/Catrobat/Controller/Web/MediaPackageController.php
  src/Catrobat/Services/MediaPackageFileRepository.php
  symfony.lock
  templates/Default/baseParent.html.twig
  templates/Default/header.html.twig
  templates/MediaLibrary/mediapackage.html.twig
  tests/behat/features/api/mediapackage/mediafile_search_get.feature
  tests/behat/features/web/general/mediapackage.feature
  translations/catroweb.en.yml
Labels: feature, media

#506 SHARE-200 API Get project
  src/Api/ProjectsApi.php
  src/Entity/ProgramManager.php
  src/Repository/ProgramRepository.php
  tests/behat/features/api/projects/get_project.feature
Labels: api
