Repository Catrobat/Catroweb, pull requests merged in 2020-05, with the labels that each got.

#532 SHARE-260 GithubAction CodeQuality - phpcpd
  .github/workflows/code_quality.yml
  config/packages/doctrine.yaml
  src/Catrobat/Controller/Api/RecommenderController.php
  src/Catrobat/RecommenderSystem/RecommenderManager.php
  src/DQL/TimeAdd.php
  src/DQL/TimeDiff.php
  src/DQL/TimeSub.php
  src/Entity/ProgramManager.php
  src/Migrations/2019/Version20191021115851.php
  src/Repository/ProgramRepository.php
Labels: github action

#522 SHARE-270 Typography
  assets/css/base/_base.scss
  assets/css/base/_bootswatch.scss
  assets/css/base/_brain.scss
  assets/css/base/_buttons.scss
  assets/css/base/_catro_bootstrap.scss
  assets/css/base/_footer.scss
  assets/css/base/_header.scss
  assets/css/base/_icons.scss
  assets/css/base/_navbar.scss
  assets/css/base/_sidebar.scss
  assets/css/base/_typography.scss
  assets/css/base/_variables.scss
  assets/css/custom/help.scss
  assets/css/custom/index.scss
  assets/css/custom/login.scss
  assets/css/custom/notifications.scss
  assets/css/custom/profile.scss
  assets/css/custom/program.scss
  assets/css/themes/arduino/arduino.scss
  assets/css/themes/create@school/create@school.scss
  assets/css/themes/embroidery/embroidery.scss
  assets/css/themes/luna/luna.scss
  assets/css/themes/phirocode/phirocode.scss
  assets/css/themes/pocketalice/pocketalice.scss
  assets/css/themes/pocketcode/pocketcode.scss
  assets/css/themes/pocketgalaxy/pocketgalaxy.scss
  assets/js/custom/Program.js
  templates/Default/baseParent.html.twig
  templates/Default/footer.html.twig
  templates/Default/header.html.twig
  templates/Index/index.html.twig
  templates/Index/welcome-section.html.twig
  templates/Notifications/usernotifications.html.twig
  templates/Program/program.html.twig
  templates/Program/programComments.html.twig
  templates/UserManagement/Profile/myProfileData.html.twig
  templates/help/gamejamtutorialcard.html.twig
  tests/behat/context/CatrowebBrowserContext.php
  tests/behat/features/web/project/project_download.feature
  translations/catroweb.en.yml
Labels: design

#530 SHARE-242 Refactoring - Adminarea - Special Projects | Starter Projects
  config/services.yaml
  src/Admin/CategoriesAdmin.php
  src/Catrobat/Controller/Admin/CategoriesController.php
  templates/Admin/CRUD/list__action_remove_from_starter_table.html.twig
  tests/behat/context/CatrowebBrowserContext.php
  tests/behat/context/DataFixturesContext.php
  tests/behat/features/admin/starter_projects.feature
Labels: admin

#517 SHARE-238 Refactor Adminarea Projects | All projects
  assets/css/custom/program.scss
  config/packages/sonata_admin.yaml
  config/packages/twig.yaml
  config/services.yaml
  package-lock.json
  package.json
  src/Admin/AllProgramsAdmin.php
  src/Admin/ApproveProgramsAdmin.php
  src/Catrobat/CatrobatCode/StatementFactory.php
  templates/Admin/program_thumbnail_image_list.html.twig
  tests/behat/context/CatrowebBrowserContext.php
  tests/behat/features/admin/all_projects.feature
Labels: admin, enhancement

#507 SHARE-240 Refactoring - Adminarea - Projects | Reported Projects
  config/packages/sonata_admin.yaml
  config/packages/twig.yaml
  src/Admin/ReportedProgramsAdmin.php
  src/Catrobat/Controller/Admin/ReportController.php
  src/Catrobat/Controller/Api/ReportController.php
  templates/Admin/CRUD/list__action_accept_program_report.html.twig
  templates/Admin/CRUD/list__action_unreportProgram.html.twig
  tests/behat/context/CatrowebBrowserContext.php
  tests/behat/features/admin/report_notification.feature
  tests/behat/features/admin/reported_programs.feature
  tests/behat/features/api-deprecated/project/report_program.feature
Labels: admin

#535 bump npm packages (jquery 3.5.1)
  package-lock.json
  package.json
Labels: no auto-deploy

#536 bump composer packages
  composer.json
  composer.lock
Labels: no auto-deploy

#537 SHARE-294 SCSS Coding Standard
  .github/workflows/code_quality.yml
  .stylelintrc.json
  assets/css/base/_variables.scss
  assets/css/custom/program.scss
  package-lock.json
  package.json
Labels: no auto-deploy

#514 SHARE-150 Redesign Follower
  assets/css/base/_base.scss
  assets/css/base/_brain.scss
  assets/css/base/_catro_bootstrap.scss
  assets/css/base/_catro_tabs.scss
  assets/css/base/_navbar.scss
  assets/css/base/_variables.scss
  assets/css/custom/notifications.scss
  assets/css/custom/profile.scss
  assets/js/custom/Follower.js
  docker/docker-compose.test.yml
  src/Catrobat/Controller/Web/FollowerController.php
  src/Catrobat/Controller/Web/ProfileController.php
  src/Entity/UserManager.php
  src/Repository/CatroNotificationRepository.php
  templates/Default/baseParent.html.twig
  templates/Default/sidebar.html.twig
  templates/Notifications/NotificationTypes/baseNotification.html.twig
  templates/Notifications/NotificationTypes/comment_notification.html.twig
  templates/Notifications/NotificationTypes/follow_notification.html.twig
  templates/Notifications/usernotifications.html.twig
  templates/UserManagement/Followers/follower-item.html.twig
  templates/UserManagement/Followers/followers.html.twig
  templates/UserManagement/Profile/myProfile.html.twig
  templates/UserManagement/Profile/profile.html.twig
  templates/bundles/FOSUserBundle/Registration/register.html.twig
  templates/bundles/FOSUserBundle/Resetting/request.html.twig
  templates/bundles/FOSUserBundle/Resetting/reset.html.twig
  templates/bundles/FOSUserBundle/Security/login.html.twig
  tests/behat/features/web/profile/follow.feature
  tests/behat/features/web/profile/many_follower.feature
  tests/behat/features/web/profile/notifications.feature
  tests/behat/features/web/profile/notifications_sidebar_badge.feature
  tests/behat/features/web/profile/profile_user_projects.feature
  tests/behat/features/web/project/projects_private.feature
  tests/phpUnit/Entity/UserManagerTest.php
  translations/catroweb.en.yml
Labels: design, feature

#531 SHARE-243 Refactoring - Adminarea - Special Projects | Featured Projects
  src/Admin/FeaturedProgramAdmin.php
  tests/behat/context/CatrowebBrowserContext.php
  tests/behat/features/admin/featured_programs.feature
Labels: admin

#510 SHARE-197 API Search
  config/packages/doctrine.yaml
  src/Api/MediaLibraryApi.php
  src/Api/ProjectsApi.php
  src/Entity/ProgramManager.php
  src/Repository/ExampleRepository.php
  src/Repository/FeaturedRepository.php
  src/Repository/ProgramRepository.php
  src/Utils/APIQueryHelper.php
  tests/behat/context/ApiContext.php
  tests/behat/context/DataFixturesContext.php
  tests/behat/features/api/mediapackage/mediapackage_packagename_get.feature
  tests/behat/features/api/projects/featured_projects.feature
  tests/behat/features/api/projects/get_example_projects.feature
  tests/behat/features/api/projects/get_most_downloaded_projects.feature
  tests/behat/features/api/projects/get_most_viewed_projects.feature
  tests/behat/features/api/projects/get_project.feature
  tests/behat/features/api/projects/get_random_projects.feature
  tests/behat/features/api/projects/get_recent_projects.feature
  tests/behat/features/api/projects/get_scratch_remix_projects.feature
  tests/behat/features/api/projects/logged_in_user_projects.feature
  tests/behat/features/api/projects/public_user_projects.feature
  tests/behat/features/api/projects/search_projects.feature
Labels: api

#551 Release/v3.3.0 Hotifxes -> v3.3.3
  .env
  assets/js/custom/Program.js
  deploy.php
  src/Catrobat/Services/OAuthService.php
  templates/Program/program.html.twig
Labels: bug

#553 Bump dependencies
  composer.json
  composer.lock
  config/bundles.php
  package-lock.json
  package.json
  symfony.lock
Labels: dependencies, javascript, php

#572 SHARE-234 - improved action triggers
  .github/workflows/code_quality.yml
  .github/workflows/feature_request.yml
  .github/workflows/tests.yml
Labels: github action, no auto-deploy
