Repository Catrobat/Catroweb, pull requests merged in 2020-07, with the labels that each got.

#691 SHARE-281 Multiple flavors for assets
  src/Admin/MediaPackageFileAdmin.php
  src/Api/MediaLibraryApi.php
  src/Catrobat/Services/MediaPackageFileRepository.php
  src/Catrobat/Services/TestEnv/SymfonySupport.php
  src/Commands/Create/CreateMediaPackageSamplesCommand.php
  src/Entity/Flavor.php
  src/Entity/MediaPackageFile.php
  src/Migrations/2020/Version20200624085848.php
  src/Repository/FlavorRepository.php
  src/Utils/APIQueryHelper.php
  tests/behat/context/DataFixturesContext.php
  tests/behat/features/api-deprecated/project/get_media_lib_json.feature
  tests/behat/features/api/mediapackage/mediafile_all_get.feature
  tests/behat/features/api/mediapackage/mediafile_id_get.feature
  tests/behat/features/api/mediapackage/mediafile_search_get.feature
  tests/behat/features/api/mediapackage/mediapackage_packagename_get.feature
  tests/behat/features/web/media-library/mediapackage.feature
Labels: admin, feature

#696 SHARE-234 Code Quality: fix version + dependabot
  .github/dependabot.yml
  .github/workflows/code_quality.yml
Labels: github action

#700 Hotfix Pending Exceptions
  .github/workflows/tests.yml
  tests/behat/context/ApiContext.php
  tests/behat/features/web/admin/upload_notification.feature
Labels: bug, github_actions

#681 Added phpUnit tests for MediaLibraryApis
  tests/phpUnit/Api/MediaLibraryApiTest.php
Labels: api, gsoc, no auto-deploy

#685 SHARE-267 Project View Update
  assets/css/base/_buttons_.scss
  assets/css/base/_catro_bootstrap.scss
  assets/css/base/_icons.scss
  assets/css/custom/program.scss
  assets/images/default/wow _blue.svg
  assets/images/default/wow_black.svg
  assets/images/default/wow_white.svg
  assets/js/base/ProjectLoader.js
  assets/js/custom/ImageUpload.js
  assets/js/custom/Program.js
  assets/js/custom/ProgramCodeView.js
  assets/js/custom/ProgramCredits.js
  assets/js/custom/ProgramDescription.js
  assets/js/custom/ProgramRecommender.js
  package-lock.json
  templates/Default/footer.html.twig
  templates/Index/index.html.twig
  templates/Program/code_view.html.twig
  templates/Program/program.html.twig
  templates/Program/program_details_accordion.html.twig
  templates/Program/projectThumbnail.html.twig
  tests/behat/features/web/general/language_switcher.feature
  tests/behat/features/web/project-details/project.feature
  tests/behat/features/web/project-details/project_description.feature
  tests/behat/features/web/project-details/project_download.feature
  tests/behat/features/web/project-details/project_reactions.feature
  tests/behat/features/web/project-details/project_statistics.feature
  translations/catroweb.en.yml
Labels: design, feature

#701 SHARE-339 User (register) post API wrong validation messages
  src/Api/UserApi.php
  tests/behat/features/api/user/user_register.feature
Labels: api, bug

#708 SHARE-234/260 Reduced computation time
  .github/workflows/code_quality.yml
  .github/workflows/tests.yml
  composer.json
  composer.lock
  tests/behat/context/BrowserContext.php
Labels: github_actions, no auto-deploy

#706 SHARE-337 CAPI v1.0.41
  composer.json
  composer.lock
  config/packages/security.yaml
  config/validator/validation.xml
  src/Api/AuthenticationApi.php
  src/Api/MediaLibraryApi.php
  src/Api/ProjectsApi.php
  src/Api/UserApi.php
  src/Catrobat/Controller/Web/MediaPackageController.php
  src/Entity/ProgramManager.php
  src/Utils/APIHelper.php
  tests/behat/context/ApiContext.php
  tests/behat/features/api/mediapackage/mediafile_all_get.feature
  tests/behat/features/api/mediapackage/mediafile_id_get.feature
  tests/behat/features/api/mediapackage/mediafile_search_get.feature
  tests/behat/features/api/mediapackage/mediapackage_packagename_get.feature
  tests/behat/features/api/projects/featured_projects.feature
  tests/behat/features/api/projects/get_example_projects.feature
  tests/behat/features/api/projects/get_most_downloaded_projects.feature
  tests/behat/features/api/projects/get_most_viewed_projects.feature
  tests/behat/features/api/projects/get_project.feature
  tests/behat/features/api/projects/get_random_projects.feature
  tests/behat/features/api/projects/get_recent_projects.feature
  tests/behat/features/api/projects/get_scratch_remix_projects.feature
  tests/behat/features/api/projects/logged_in_user_projects.feature
  tests/behat/features/api/projects/public_user_projects.feature
  tests/behat/features/api/projects/search_projects.feature
  tests/behat/features/api/user/user_register.feature
  tests/behat/features/web/profile/profile_edit.feature
  tests/phpUnit/Api/MediaLibraryApiTest.php
  translations/catroweb.en.yml
Labels: api

#707 SHARE-338 400 - Bad Request Response
  config/routes.yaml
  tests/behat/context/ApiContext.php
  tests/behat/features/api/authentication/authentication_login.feature
  tests/behat/features/api/user/user_register.feature
Labels: api, bug

#689 SHARE-322 Improve Search
  .env
  composer.json
  composer.lock
  config/bundles.php
  config/packages/fos_elastica.yaml
  config/services.yaml
  docker/Dockerfile
  docker/app/startup-test.sh
  docker/app/startup.sh
  docker/docker-compose.dev.yml
  docker/docker-compose.test.yml
  src/Catrobat/Controller/Api/SearchController.php
  src/Commands/Reset/ResetCommand.php
  src/Entity/Extension.php
  src/Entity/Program.php
  src/Entity/ProgramManager.php
  src/Entity/Tag.php
  src/Entity/User.php
  src/Migrations/2020/Version20200627143428.php
  src/Repository/ProgramRepository.php
  symfony.lock
  tests/behat/context/DataFixturesContext.php
  tests/behat/features/api-deprecated/general/search.feature
  tests/behat/features/api-deprecated/general/search_programs.feature
  tests/behat/features/api/projects/search_projects.feature
  tests/behat/features/web/search/search.feature
  tests/behat/features/web/search/search_programs_via_extensions.feature
  tests/behat/features/web/search/search_programs_via_tags.feature
  tests/phpUnit/Entity/ProgramManagerTest.php
Labels: feature

#717 SHARE-342 project stats, view & remix on their own pages
  22
  assets/css/base/_base.scss
  assets/css/base/_buttons.scss
  assets/css/base/_buttons_.scss
  assets/css/base/_icons.scss
  assets/css/base/_typography.scss
  assets/css/custom/loadinganimation.scss
  assets/css/custom/program.scss
  assets/css/custom/remixgraph.scss
  assets/js/analytics/analytics.js
  assets/js/custom/ProgramRecommender.js
  assets/js/custom/RemixGraphHandler.js
  assets/js/custom/remixgraph.visualization.js
  src/Catrobat/Controller/Web/CodeStatisticsController.php
  src/Catrobat/Controller/Web/CodeViewController.php
  src/Catrobat/Controller/Web/ProgramController.php
  src/Catrobat/Controller/Web/RemixController.php
  src/Commands/Reset/ResetCommand.php
  templates/Default/baseParent.html.twig
  templates/Header/header.html.twig
  templates/Program/code_statistics.html.twig
  templates/Program/code_view.html.twig
  templates/Program/program.html.twig
  templates/Program/program_apk_generation_buttons.html.twig
  templates/Program/program_code_statistics_button.html.twig
  templates/Program/program_code_view_button.html.twig
  templates/Program/program_description.html.twig
  templates/Program/program_details.html.twig
  templates/Program/program_details_accordion.html.twig
  templates/Program/program_download_button.html.twig
  templates/Program/program_reactions.html.twig
  templates/Program/program_reactions_modal.html.twig
  templates/Program/program_remix_graph_button.html.twig
  templates/Program/program_tags.html.twig
  templates/Program/remix_graph.html.twig
  tests/behat/context/CatrowebBrowserContext.php
  tests/behat/features/web/general/language_switcher.feature
  tests/behat/features/web/profile/profile_similar_programs.feature
  tests/behat/features/web/project-details-2/project_code_statistics.feature
  tests/behat/features/web/project-details-2/project_code_view.feature
  tests/behat/features/web/project-details-3/project_remixes.feature
  tests/behat/features/web/project-details/project.feature
  tests/behat/features/web/project-details/project_details.feature
  tests/behat/features/web/project-details/project_download.feature
  translations/catroweb.de.yml
  translations/catroweb.en.yml
Labels: design, feature

#721 SHARE-320 /health check
  config/services.yaml
  src/Api/UtilityApi.php
  tests/behat/features/api/utility/health.feature
  tests/phpUnit/Api/MediaLibraryApiTest.php
  tests/phpUnit/Api/UtilityApiTest.php
Labels: api

#727 SHARE-347 Hotfix - Search max version
  config/packages/fos_elastica.yaml
  src/Entity/ProgramManager.php
  tests/behat/features/api/projects/search_projects.feature
Labels: bug

#726 SHARE 620 HOTFIX PROJECT VIEW BUTTONS
  package-lock.json
  templates/Program/program_apk_generation_buttons.html.twig
Labels: bug

#742 Bump phpstan-ga 0.12.28 to 0.12.33
  .github/workflows/code_quality.yml
Labels: dependencies, github_actions

#741 SHARE-353 featured projects bug
  src/Catrobat/Controller/Web/ProgramController.php
  src/Entity/ProgramManager.php
  src/Repository/FeaturedRepository.php
Labels: bug

#739 Hotfix - remove unnecessary file
  22
Labels: bug

#723 SHARE-335 Remove Limited users
  config/packages/security.yaml
  config/packages/sonata_admin.yaml
  config/services.yaml
  src/Admin/LimitedUsersAdmin.php
  src/Admin/ReportedUsersAdmin.php
  src/Catrobat/Events/ProgramDownloadedEvent.php
  src/Catrobat/Events/ProgramInsertEvent.php
  src/Catrobat/Listeners/Upload/SaveProgramSnapshotListener.php
  src/Catrobat/Listeners/UploadNotificator.php
  src/Entity/Program.php
  src/Entity/ProgramManager.php
  src/Entity/User.php
  src/Migrations/2020/Version20200711161214.php
  templates/UserManagement/Profile/accountSettings.html.twig
  templates/UserManagement/Profile/myProfile.html.twig
  templates/UserManagement/Profile/myProfileData.html.twig
  tests/behat/context/ApiContext.php
  tests/behat/context/CatrowebBrowserContext.php
  tests/behat/context/DataFixturesContext.php
  tests/behat/features/web/gamejam/limited_accounts.feature
  tests/behat/features/web/gamejam/program_snapshots.feature
  tests/behat/features/web/project-details-3/project_snapshots.feature
  tests/phpUnit/Catrobat/Listeners/Upload/SaveProgramSnapshotListenerTest.php
Labels: feature_removal

#719 SHARE-239 Refactoring - Adminarea - Projects | Approve Projects
  src/Admin/ApproveProgramsAdmin.php
  templates/Admin/program_containing_code_objects.html.twig
  tests/behat/context/CatrowebBrowserContext.php
  tests/behat/features/web/admin/approve_projects.feature
Labels: admin

#743 SHARE-354 RecSys broken
  config/services.yaml
  src/Catrobat/RecommenderSystem/RecommenderManager.php
Labels: bug

#728 SHARE-245- Remove TemplateProjects
  config/packages/sonata_admin.yaml
  config/services.yaml
  package-lock.json
  package.json
  src/Admin/TemplateAdmin.php
  src/Catrobat/Controller/Admin/TemplateController.php
  src/Catrobat/Controller/Api/TemplatesListController.php
  src/Catrobat/Listeners/View/TemplateListSerializer.php
  src/Catrobat/Responses/TemplateListResponse.php
  src/Catrobat/Services/TemplateFileRepository.php
  src/Catrobat/Services/TemplateService.php
  src/Entity/Template.php
  src/Entity/TemplateManager.php
  src/Migrations/2020/Version20200719170936.php
  src/Repository/TemplateRepository.php
  tests/phpUnit/Entity/TemplateManagerTest.php
Labels: feature_removal

#745 SHARE-257 Refactoring - Adminarea - Tools | Rude Words
  src/Admin/RudewordAdmin.php
  src/Entity/RudeWord.php
  src/Migrations/2020/Version20200720165058.php
  tests/behat/context/CatrowebBrowserContext.php
  tests/behat/context/DataFixturesContext.php
  tests/behat/features/web/admin/approve_projects.feature
  tests/behat/features/web/admin/rude_words.feature
Labels: admin

#722 SHARE-346 API Search users
  config/packages/fos_elastica.yaml
  config/services.yaml
  src/Api/UserApi.php
  src/Entity/ProgramManager.php
  src/Entity/UserManager.php
  tests/behat/context/ApiContext.php
  tests/behat/features/api/user/search_users.feature
  tests/phpUnit/Entity/ProgramManagerTest.php
  tests/phpUnit/Entity/UserManagerTest.php
Labels: api

#748 SHARE-248 Refactoring - Media Package Files Admin
  tests/behat/context/BrowserContext.php
  tests/behat/context/CatrowebBrowserContext.php
  tests/behat/features/web/admin/media_package_file.feature
Labels: admin

#715 SHARE-235 Coverage Report
  .github/workflows/tests.yml
Labels: github_actions, no auto-deploy

#759 SHARE-247 Refactoring - Media Package Categories
  config/services.yaml
  src/Admin/MediaPackageCategoriesAdmin.php
  src/Catrobat/Controller/Admin/MediaPackageCategoryController.php
  tests/behat/context/BrowserContext.php
  tests/behat/context/CatrowebBrowserContext.php
  tests/behat/context/DataFixturesContext.php
  tests/behat/features/web/admin/media_package_categories.feature
Labels: admin

#749 SHARE-260 Psalm added
  .github/workflows/code_quality.yml
  bin/phpstan.phar
  composer.json
  composer.lock
  psalm.xml
  src/Admin/AllProgramsAdmin.php
  src/Admin/ExampleProgramAdmin.php
  src/Admin/FeaturedProgramAdmin.php
  src/Admin/GameJamAdmin.php
  src/Admin/MediaPackageFileAdmin.php
  src/Api/MediaLibraryApi.php
  src/Api/ProjectsApi.php
  src/Catrobat/CatrobatCode/Statements/Statement.php
  src/Catrobat/Controller/Admin/BroadcastNotificationController.php
  src/Catrobat/Controller/Admin/MaintainController.php
  src/Catrobat/Controller/Api/SearchController.php
  src/Catrobat/Controller/Ci/DownloadApkController.php
  src/Catrobat/Exceptions/InvalidCatrobatFileException.php
  src/Catrobat/Forms/FeaturedImageConstraintValidator.php
  src/Catrobat/RecommenderSystem/RecommenderManager.php
  src/Catrobat/Services/AsyncHttpClient.php
  src/Catrobat/Services/CatrobatCodeParser/Bricks/BrickFactory.php
  src/Catrobat/Services/CatrobatCodeParser/CodeStatistic.php
  src/Catrobat/Services/CatrobatCodeParser/Scripts/ScriptFactory.php
  src/Catrobat/Services/ImageRepository.php
  src/Catrobat/Services/TestEnv/DataFixtures/ProjectDataFixtures.php
  src/Catrobat/Twig/AppExtension.php
  src/Commands/Create/CreateProgramExtensionsCommand.php
  src/Commands/Helpers/MigrationFileLock.php
  src/Commands/Helpers/RecommenderFileLock.php
  src/Commands/ImportProjects/ProgramImportCommand.php
  src/Commands/MigrateRemixGraphsCommand.php
  src/Commands/Reset/ResetCommand.php
  src/Entity/CommentNotification.php
  src/Entity/ExampleProgram.php
  src/Entity/Extension.php
  src/Entity/FollowNotification.php
  src/Entity/GameJam.php
  src/Entity/Program.php
  src/Entity/ProgramInappropriateReport.php
  src/Entity/ProgramManager.php
  src/Entity/UserComment.php
  src/Entity/UserManager.php
  src/Entity/UserTestGroup.php
  src/Repository/ProgramLikeRepository.php
  src/Repository/ProgramRemixBackwardRepository.php
  src/Repository/ProgramRemixRepository.php
  src/Repository/ProgramRepository.php
  src/Repository/ScratchProgramRemixRepository.php
  src/Utils/APIQueryHelper.php
  src/Utils/TimeUtils.php
  symfony.lock
  tests/phpUnit/Catrobat/Listeners/Upload/SaveProgramSnapshotListenerTest.php
  tests/phpUnit/Entity/RemixManagerTest.php
Labels: github_actions

#763 SHARE-235 Behat code coverage
  .github/workflows/tests.yml
  .gitignore
  behat.yml.dist
  composer.json
  composer.lock
  config/packages/fos_elastica.yaml
  package-lock.json
  src/Catrobat/Controller/Api/SearchController.php
  src/Entity/ProgramManager.php
  symfony.lock
  tests/behat/features/web/project-details/project_download.feature
  tests/testreports/coverage/behat/.gitignore
  tests/testreports/coverage/phpunit/.gitignore
Labels: github_actions

#573 SHARE-300 Implement new OAUTH Provider
  .env
  .github/workflows/code_quality.yml
  assets/css/custom/login.scss
  assets/images/social/appleid_button1x.png
  assets/images/social/btn_google_custom.png
  assets/images/social/btn_google_light_normal_ios.svg
  assets/images/social/btn_google_signin_light_focus_web2x.png
  assets/images/social/btn_google_signin_light_normal_web2x.png
  assets/images/social/btn_google_signin_light_pressed_web2x.png
  assets/images/social/f_logo_RGB-White_58.png
  assets/js/custom/Index.js
  assets/js/custom/register.js
  composer.json
  composer.lock
  config/bundles.php
  config/packages/httplug.yaml
  config/packages/hwi_oauth.yaml
  config/packages/security.yaml
  config/routes.yaml
  config/routes/hwi_oauth_routing.yaml
  config/services.yaml
  migrations/2020/Version20200714131950.php
  src/Catrobat/Controller/Web/DefaultController.php
  src/Catrobat/Controller/Web/ProfileController.php
  src/Catrobat/Security/FOSUBUserProvider.php
  src/Catrobat/Services/TestEnv/DataFixtures/UserDataFixtures.php
  src/Entity/User.php
  symfony.lock
  templates/Index/index.html.twig
  templates/UserManagement/Profile/myProfileData.html.twig
  templates/UserManagement/Profile/passwordEdit.html.twig
  templates/UserManagement/oauth_registration.html.twig
  templates/bundles/FOSUserBundle/Security/login.html.twig
  tests/behat/features/web/authentication/OAuth.feature
  tests/phpUnit/OAuth/OAuthTest.php
  translations/catroweb.en.yml
Labels: design, feature, gsoc

#762 SHARE-355 new Embroidery logo/color
  assets/css/themes/embroidery/_theme_settings.scss
  assets/images/logo/logo_embroidery.png
  assets/images/logo/logo_embroidery.svg
  templates/UserManagement/login_logo.html.twig
Labels: design

#784 Update CodeCov config
  .github/codecov.yml
Labels: bug, enhancement, github_actions

#781 SHARE-364 GitHub action process automation
  .github/workflows/check_for_new_bricks.yml
  .github/workflows/sync_crowdin.yml
  .gitignore
  crowdin.yml
Labels: github_actions

#785 SHARE-365 Extensions as flavor
  src/Catrobat/Services/TestEnv/DataFixtures/ProjectDataFixtures.php
  src/Repository/ExampleRepository.php
  src/Repository/FeaturedRepository.php
  src/Repository/ProgramRepository.php
  src/Utils/APIQueryHelper.php
  tests/behat/features/api/projects/flavor_use_extension.feature
  tests/behat/features/web/general/homepage.feature
Labels: api, enhancement

#791 Hotfix - Unit translations test
  tests/phpUnit/AppExtensionTest.php
Labels: bug
