Repository Catrobat/Catroweb, pull requests merged in 2024-01, with the labels that each got.

#4603 SHARE-124 - DB migration and implementation of UserAPI
  migrations/2023/Version20231220122134.php
  src/Api/Services/User/UserApiLoader.php
  src/Api/Services/User/UserResponseManager.php
  src/Api/UserApi.php
  src/DB/Entity/User/User.php
  src/System/Commands/DBUpdater/UpdateUserRankingCommand.php
  tests/PhpUnit/System/Commands/DBUpdater/UpdateUserRankingCommandTest.php
Labels: api, DB, Command

#4606 SHARE-549 Studio List - Part 2
  assets/js/studio_detail.js
  assets/js/studio_new.js
  assets/js/studios_overview.js
  assets/styles/custom/studios.scss
  migrations/2023/Version20231224235942.php
  migrations/2023/Version20231227224308.php
  src/Application/Controller/Studio/StudioController.php
  src/DB/Entity/Studio/Studio.php
  src/DB/Entity/Studio/StudioJoinRequest.php
  src/DB/EntityRepository/Studios/StudioJoinRequestRepository.php
  src/DB/EntityRepository/Studios/StudioUserRepository.php
  src/Studio/StudioManager.php
  src/System/Commands/Create/CreateStudioCommand.php
  src/System/Commands/Reset/ResetCommand.php
  src/System/Testing/Behat/Context/DataFixturesContext.php
  templates/Studio/studio_admin_settings.html.twig
  templates/Studio/studio_details_header.html.twig
  templates/Studio/studio_new.html.twig
  templates/Studio/studios_overview.html.twig
  templates/Studio/studios_overview_list.html.twig
  templates/components/switch.html.twig
  tests/BehatFeatures/web/studio/studio-details__admin_settings.feature
  tests/BehatFeatures/web/studio/studio-details__overview.feature
  tests/BehatFeatures/web/studio/studio_new.feature
  tests/BehatFeatures/web/studio/studio_overview.feature
  tests/PhpUnit/Studio/StudioManagerTest.php
  translations/catroweb.en.yaml
  webpack.config.js
Labels: feature, po-review needed, studio

#4619 SHARE-564 Collapse and expand categories in MediaLibrary
  assets/js/medialib_content.js
  assets/styles/custom/medialib.scss
  templates/MediaLibrary/media_library_package.html.twig
  webpack.config.js
Labels: feature, design, po-review needed, media-library
